{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
		<div id="fh5co-about" data-section="about">
			<div class="fh5co-2col fh5co-bg to-animate-2" style="background-image: url({% static 'images/res_img_1.jpg' %})"></div>
			<div class="fh5co-2col fh5co-text">
				<h2 class="heading to-animate">About Us</h2>
				<p class="to-animate"><span class="firstcharacter">{{about.Firstcharacter}}</span>{{about.Paragraph}}</p>
				<p class="text-center to-animate"><a href="{{Get_in_touch}}" class="btn btn-primary btn-outline">Get in touch</a></p>
			</div>
		</div>

		<div id="fh5co-sayings">
			<div class="container">
				<div class="row to-animate">

					<div class="flexslider">
						<ul class="slides">
								{% for i in quote %}
							<li>
								<blockquote>
									<p>&ldquo; {{i.Quote}}  &rdquo;</p>
									<p class="quote-author">&mdash; {{i.Quote_author}}</p>
								</blockquote>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-featured" data-section="features">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Featured Dishes</h2>
						<p class="sub-heading to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="row">
					<div class="fh5co-grid">
						<div class="fh5co-v-half to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static 'images/res_img_1.jpg' %})"></div>
							<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
								<h2>Fresh Mushrooms</h2>
								<span class="pricing">$7.50</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>
						<div class="fh5co-v-half">
							<div class="fh5co-h-row-2 to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static 'images/res_img_2.jpg' %})"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-left">
									<h2>Grilled Chiken Salad</h2>
									<span class="pricing">$12.00</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
							<div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static 'images/res_img_8.jpg' %})"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-right">
									<h2>Cheese and Garlic Toast</h2>
									<span class="pricing">$4.50</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
						</div>

						<div class="fh5co-v-half">
							<div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static 'images/res_img_7.jpg' %})"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-right">
									<h2>Organic Egg</h2>
									<span class="pricing">$4.99</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
							<div class="fh5co-h-row-2 to-animate-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static 'images/res_img_6.jpg' %})"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-left">
									<h2>Salad with Crispy Chicken</h2>
									<span class="pricing">$8.50</span>
									<p>Far far away, behind the word mountains.</p>
								</div>
							</div>
						</div>
						<div class="fh5co-v-half to-animate-2">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url({% static 'images/res_img_3.jpg' %})"></div>
							<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
								<h2>Tomato Soup with Chicken</h2>
								<span class="pricing">$12.99</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

		<div id="fh5co-type" style="background-image: url({{Fb.Food_Background}});" data-stellar-background-ratio="0.5">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="row">

						{% for i in food_type %}
					<div class="col-md-3 to-animate">
						<div class="fh5co-type">
							<h3 class="with-icon icon-{{i.id}}">{{i.Food_title}}</h3>
							<p>{{i.Food_description}} </p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div id="fh5co-menus" data-section="menu">
    <div class="container">
        <div class="row text-center fh5co-heading row-padded">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="heading to-animate">Food Menu</h2>
                <p class="sub-heading to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>

        <div class="row row-padded">
            {% for category in categories %}
                <div class="col-md-6">
                    <div class="fh5co-food-menu to-animate-2">
                        <h2 class="fh5co-{{ category.name|slugify }}">{{ category.name }}</h2>
                        <ul>
                            {% for item in food_items %}
                                {% if item.category.id == category.id %}
                                    <li>
                                        <div class="fh5co-food-desc">
                                            <figure>
                                                <img src="{{ item.image.url }}" class="img-responsive" alt="{{ item.name }}">
                                            </figure>
                                            <div>
                                                <h3>{{ item.name }}</h3>
                                                <p>{{ item.description|truncatechars:80 }}</p>
                                            </div>
                                        </div>
                                        <div class="fh5co-food-pricing">
                                            ₹{{ item.price }}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center to-animate-2">
                <p><a href="#" class="btn btn-primary btn-outline">More Food Menu</a></p>
            </div>
        </div>
    </div>
</div>


		<div id="fh5co-events" data-section="events" style="background-image: url({% static 'images/slide_2.jpg' %});" data-stellar-background-ratio="0.5">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2 to-animate">
						<h2 class="heading">Upcoming Events</h2>
						<p class="sub-heading">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="row">
					{% for i in event %}
					<div class="col-md-4">
						<div class="fh5co-event to-animate-2">
							<h3>{{i.Event_title}}</h3>
							<span class="fh5co-event-meta">{{i.Event_date}}</span>
							<p> {{i.Event_description}}</p>
							<p><a href="{{i.Event_link}}" class="btn btn-primary btn-outline">Read More</a></p>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div>

		<div id="fh5co-contact" data-section="reservation">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Reserve a Table</h2>
						<p class="sub-heading to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 to-animate-2">
						<h3>Contact Info</h3>
						<ul class="fh5co-contact-info">
							<li class="fh5co-contact-address ">
								<i class="icon-home"></i>
								5555 Love Paradise 56 New Clity 5655, <br>Excel Tower United Kingdom
							</li>
							<li><i class="icon-phone"></i> (123) 465-6789</li>
							<li><i class="icon-envelope"></i>info@freehtml5.co</li>
							<li><i class="icon-globe"></i> <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></li>
						</ul>
					</div>
					<div class="col-md-6 to-animate-2">
    <h3>Reservation Form</h3>
    <form method="post" action="#">
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="sr-only">Name</label>
            <input id="name" class="form-control" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input id="email" class="form-control" name="email" placeholder="Email" type="email" required>
        </div>
        <div class="form-group">
            <label for="occation" class="sr-only">Occasion</label>
            <select class="form-control" id="occation" name="occation">
                <option value="">Select an Occasion</option>
                <option value="Wedding Ceremony">Wedding Ceremony</option>
                <option value="Birthday">Birthday</option>
                <option value="Others">Others</option>
            </select>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="day" class="sr-only">Day</label>
                <select class="form-control" id="day" name="day" required>
                    <option value="">Day</option>
                    {% for i in 1|range_filter:32 %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="month" class="sr-only">Month</label>
                <select class="form-control" id="month" name="month" required>
                    <option value="">Month</option>
                    {% for i in 1|range_filter:13 %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="year" class="sr-only">Year</label>
                <select class="form-control" id="year" name="year" required>
                    <option value="">Year</option>
                    {% for i in 2023|range_filter:2101 %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="time" class="sr-only">Time</label>
                <input id="time" class="form-control" name="time" placeholder="Time" type="number" min="0000" max="1159" required>
            </div>
            <div class="form-group col-md-6">
                <label for="am_pm" class="sr-only">AM/PM</label>
                <select id="am_pm" class="form-control" name="am_pm">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="message" class="sr-only">Message</label>
            <textarea id="message" name="message" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" value="Send Message" type="submit">
        </div>
    </form>
</div>





				</div>
			</div>
		</div>


	</div>

<!-- Include Flatpickr initialization -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        flatpickr("#id_date", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",  // Ensure the format matches what Django expects
        });
    });
</script>
{% endblock %}